In [61]:
import pandas as pd 

df = pd.read_csv('train.csv')

In [48]:
df.head()

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,2,10006,462822612,L,CC,61.0,0,0,0,NaN,0,NaN,29,False
1,2,10006,1459541791,L,MLO,61.0,0,0,0,NaN,0,NaN,29,False
2,2,10006,1864590858,R,MLO,61.0,0,0,0,NaN,0,NaN,29,False
3,2,10006,1874946579,R,CC,61.0,0,0,0,NaN,0,NaN,29,False
4,2,10011,220375232,L,CC,55.0,0,0,0,0.0,0,NaN,21,True

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54706 entries, 0 to 54705
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   site_id                  54706 non-null  int64
 1   patient_id               54706 non-null  int64
 2   image_id                 54706 non-null  int64
 3   laterality               54706 non-null  object
 4   view                     54706 non-null  object
 5   age                      54669 non-null  float64
 6   cancer                   54706 non-null  int64
 7   biopsy                   54706 non-null  int64
 8   invasive                 54706 non-null  int64
 9   BIRADS                   26286 non-null  float64
 10  implant                  54706 non-null  int64
 11  density                  29470 non-null  object
 12  machine_id               54706 non-null  int64
 13  difficult_negative_case  54706 non-null  bool
dtypes: bool(1), float64(2), int64(8), object(3)
memory usage: 5.5+ MB

In [47]:
birads = df[df['cancer'] ==1]['BIRADS']

In [48]:
birads.info()

<class 'pandas.core.series.Series'>
Int64Index: 1158 entries, 87 to 54596
Series name: BIRADS
Non-Null Count  Dtype
--------------  -----
664 non-null    float64
dtypes: float64(1)
memory usage: 18.1 KB

In [49]:
birads.unique()

array([ 0., nan])

In [50]:
df.isnull().sum()

site_id                        0
patient_id                     0
image_id                       0
laterality                     0
view                           0
age                           37
cancer                         0
biopsy                         0
invasive                       0
BIRADS                     28420
implant                        0
density                    25236
machine_id                     0
difficult_negative_case        0
dtype: int64

In [62]:
d = [df['patient_id'].value_counts()]

In [63]:
d = pd.DataFrame(d).transpose()

In [64]:
d.value_counts().to_frame()

               0
patient_id
4           8233
5           1767
6           1218
7            276
8            229
9             99
10            53
11            19
12            12
13             5
14             2

In [65]:
ix = []
for index ,i in enumerate( d['patient_id']):
    if i ==4:
        ix.append(index)
four = d.iloc[ix].transpose().columns


sub_df = df[df['patient_id'].isin(four)]

In [66]:
sub_df.tail(10)

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
54696,1,997,1487679918,R,CC,42.0,0,0,0,1.0,0,B,49,False
54697,1,997,1775983513,R,MLO,42.0,0,0,0,1.0,0,B,49,False
54698,1,9973,1345265157,L,CC,43.0,0,0,0,1.0,0,C,49,False
54699,1,9973,1703611570,L,MLO,43.0,0,0,0,1.0,0,C,49,False
54700,1,9973,655941939,R,CC,43.0,0,0,0,1.0,0,C,49,False
54701,1,9973,1729524723,R,MLO,43.0,0,0,0,1.0,0,C,49,False
54702,1,9989,63473691,L,MLO,60.0,0,0,0,NaN,0,C,216,False
54703,1,9989,1078943060,L,CC,60.0,0,0,0,NaN,0,C,216,False
54704,1,9989,398038886,R,MLO,60.0,0,0,0,0.0,0,C,216,True
54705,1,9989,439796429,R,CC,60.0,0,0,0,0.0,0,C,216,True

In [67]:
sub_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32932 entries, 0 to 54705
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   site_id                  32932 non-null  int64
 1   patient_id               32932 non-null  int64
 2   image_id                 32932 non-null  int64
 3   laterality               32932 non-null  object
 4   view                     32932 non-null  object
 5   age                      32916 non-null  float64
 6   cancer                   32932 non-null  int64
 7   biopsy                   32932 non-null  int64
 8   invasive                 32932 non-null  int64
 9   BIRADS                   11272 non-null  float64
 10  implant                  32932 non-null  int64
 11  density                  10872 non-null  object
 12  machine_id               32932 non-null  int64
 13  difficult_negative_case  32932 non-null  bool
dtypes: bool(1), float64(2), int64(8), object(3)
memory usage: 3.5+ MB

In [68]:
sub_df.isnull().sum()

site_id                        0
patient_id                     0
image_id                       0
laterality                     0
view                           0
age                           16
cancer                         0
biopsy                         0
invasive                       0
BIRADS                     21660
implant                        0
density                    22060
machine_id                     0
difficult_negative_case        0
dtype: int64

In [60]:
birads = sub_df[sub_df['cancer'] ==1]['BIRADS']
birads.info()

<class 'pandas.core.series.Series'>
Int64Index: 618 entries, 215 to 54596
Series name: BIRADS
Non-Null Count  Dtype
--------------  -----
192 non-null    float64
dtypes: float64(1)
memory usage: 9.7 KB

In [55]:
sub_df.loc[sub_df['cancer'] ==1, 'BIRADS'] = '4-5'

In [56]:
print('BIRADS 0',sub_df[sub_df['BIRADS']==0].shape)
print('BIRADS 1',sub_df[sub_df['BIRADS']==1].shape)
print('BIRADS 2',sub_df[sub_df['BIRADS']==2].shape)
print('BIRADS 4-5',sub_df[sub_df['BIRADS']=='4-5'].shape)

BIRADS 0 (4132, 14)
BIRADS 1 (6222, 14)
BIRADS 2 (726, 14)
BIRADS 4-5 (618, 14)

In [57]:
sub_df.shape

(32932, 14)

**Kararimiz yalnizca birads 1 2 ve 4-5i kapsayacak bir model yapmak oldu.**

In [58]:
birads1 = sub_df[sub_df['BIRADS'] ==1]
birads2 = sub_df[sub_df['BIRADS'] ==2]
birads45 = sub_df[sub_df['BIRADS'] =='4-5']

last = pd.concat([birads1,birads2, birads45], ignore_index=True)

In [59]:
last['BIRADS'].value_counts()

1.0    6222
2.0     726
4-5     618
Name: BIRADS, dtype: int64

In [87]:
last.head()

,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,1,10038,1967300488,L,MLO,60.0,0,0,0,1.0,0,C,216,False
1,1,10038,2142944869,L,CC,60.0,0,0,0,1.0,0,C,216,False
2,1,10038,850559196,R,MLO,60.0,0,0,0,1.0,0,C,216,False
3,1,10038,1350492010,R,CC,60.0,0,0,0,1.0,0,C,216,False
4,1,10119,50833170,L,MLO,52.0,0,0,0,1.0,0,B,49,False

In [88]:
last['density'].value_counts()

B    3204
C    2936
A     632
D     356
Name: density, dtype: int64

In [98]:
last[last['density'] == 'C']['BIRADS'].value_counts()

1.0    2516
2.0     318
4-5     102
Name: BIRADS, dtype: int64

In [99]:
last.to_csv('rsna_bitirme.csv')
last.to_excel('rsna_bitirme.xlsx')

DENSITY

In [37]:
import pandas as pd 

df = pd.read_csv('rsna_bitirme.csv')

In [38]:
# I put B latter in missing values of density column 
df['density'].fillna('C', inplace=True)
df.density.isnull().sum()

0

In [39]:
df['BIRADS'] = df['BIRADS'].astype('object')

df.loc[df['BIRADS']=='1.0','BIRADS'] = '1'
df.loc[df['BIRADS']=='2.0','BIRADS'] = '2'

In [40]:
df['BIRADS'].value_counts()

1      6222
2       726
4-5     618
Name: BIRADS, dtype: int64

In [44]:
ic = df[((df['BIRADS'] == '1') & (df['density'] == 'C') )].index
ib = df[((df['BIRADS'] == '1') & (df['density'] == 'B') )].index
ia = df[((df['BIRADS'] == '1') & (df['density'] == 'A') )].index
id = df[((df['BIRADS'] == '1') & (df['density'] == 'D') )].index

In [43]:
df.iloc[i[:400]]

,Unnamed: 0,site_id,patient_id,image_id,laterality,view,age,cancer,biopsy,invasive,BIRADS,implant,density,machine_id,difficult_negative_case
0,0,1,10038,1967300488,L,MLO,60.0,0,0,0,1,0,C,216,False
1,1,1,10038,2142944869,L,CC,60.0,0,0,0,1,0,C,216,False
2,2,1,10038,850559196,R,MLO,60.0,0,0,0,1,0,C,216,False
3,3,1,10038,1350492010,R,CC,60.0,0,0,0,1,0,C,216,False
12,12,1,10183,168739237,L,CC,64.0,0,0,0,1,0,C,49,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,907,1,17996,96724617,R,CC,68.0,0,0,0,1,0,C,49,False
908,908,1,18002,1669928794,L,MLO,70.0,0,0,0,1,0,C,49,False
909,909,1,18002,1730491594,L,CC,70.0,0,0,0,1,0,C,49,False
910,910,1,18002,1751699829,R,MLO,70.0,0,0,0,1,0,C,49,False
911,911,1,18002,1998651946,R,CC,70.0,0,0,0,1,0,C,49,False

In [60]:
d = [last['patient_id'].value_counts()]
d = pd.DataFrame(d).transpose()
d.value_counts().to_frame()

               0
patient_id
4           1679
2            425

In [ ]:
ix = []
for index ,i in enumerate( d['patient_id']):
    if i ==4:
        ix.append(index)
four = d.iloc[ix].transpose().columns


sub_df = df[df['patient_id'].isin(four)]

In [21]:
dff[dff.density.isnull()]['BIRADS'].value_counts()

4-5    426
2.0      8
1.0      4
Name: BIRADS, dtype: int64

In [31]:
dff[dff['BIRADS'] == '4-5']['density'].value_counts()

C    102
B     76
A     10
D      4
Name: density, dtype: int64